:root {
  --background: #05050d;
  --foreground: #f7f8ff;
  --hr: #f7f8ff25;
  --cards: #0c0b1a;
  --popover: #0c0b1a;
  --primary: #8868ff;
  --tag-background: rgba(136, 104, 255, .1);
  --tag-border: rgba(136, 104, 255, .3);
  --secondary: #19182c;
  --disabled-foreground: #8d8e9b;
  --destructive: #e7000b;
  --border: #201f34;
  --input: #201f34;
  --purple: #8868ff;
  --magenta: #a632bf;
  --green: #00c4a3;
  --orange: #fe8d00;
  --red: #de3e2d;
}


body {
  background-color: var(--background);
  color: var(--foreground);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

*{margin:0;padding: 0;}

body,html,#root{
  height: 100%;

}